<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>2995162908-qqvpaufuj0qj1tp7uo0draet6es1qqns.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.2995162908-qqvpaufuj0qj1tp7uo0draet6es1qqns</string>
	<key>API_KEY</key>
	<string>AIzaSyAHIHjqjGA-ePK6FtD2ArzF4KoePikdRcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>2995162908</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hardeep.sundargutka</string>
	<key>PROJECT_ID</key>
	<string>sundar-gutka-7175a</string>
	<key>STORAGE_BUCKET</key>
	<string>sundar-gutka-7175a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2995162908:ios:8973dee13e0292f6bfb4d9</string>
</dict>
</plist>